/* Cart.css */
.Cart {
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    padding: 20px;
    width: 300px;
    margin-left: 20px;
    display: grid;
  }
  
  .Cart h2 {
    margin: 0;
  }
  
  .Cart ul {
    list-style: none;
    padding: 0;
  }
  
  .Cart li {
    margin-bottom: 5px;
  }
  
  /* Add more styles here if needed */
  