
/* .Item {
    background-color: #0d0c0c;
  } */
  /* .Item-image{
    width: 400px !important;
    height:300px !important;
    display: flex;
    padding: 12px;

  } */
  /* .Item-content{
    display:flex;
    justify-content: space-around;

  }
.Item-container{
  width:500px;
  height:500px;
  border:3px solid black;
} */
  

  
  /* Add more styles here if needed */
  