.navbar {
    background-color: #eae3e3;
    color: #111010;
    padding: 15px 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links a {
    color: #413939;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  .navbar-toggle i {
    font-size: 1.5rem;
  }
  @media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      background-color: #877979;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 20px 0;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #312e2e;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #100f0f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar-logo {
    position: relative;
  }
  
  .navbar-logo .dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 0;
  }
  
  .navbar-logo.active .dropdown-content {
    display: block;
  }
  
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-logo:hover .dropdown-content {
    display: block;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      background-color: #564242;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 20px 0;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #302e2e;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #181818;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar-logo {
    position: relative;
  }
  
  .navbar-logo .dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 0;
  }
  
  .navbar-logo.active .dropdown-content {
    display: block;
  }
  
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-logo:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 600px){
    .navbar-links {
      display: none;
      flex-direction: column;
      background-color: #564242;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 20px 0;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #070707;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #2b2828;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar-logo {
    position: relative;
  }
  
  .navbar-logo .dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 0;
  }
  
  .navbar-logo.active .dropdown-content {
    display: block;
  }
  
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-logo:hover .dropdown-content {
    display: block;
  }
  
  
  @media screen and (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      background-color: #564242;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 20px 0;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #070707;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #2b2828;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar-logo {
    position: relative;
  }
  
  .navbar-logo .dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 0;
  }
  
  .navbar-logo.active .dropdown-content {
    display: block;
  }
  
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-logo:hover .dropdown-content {
    display: block;
  }
   /* Iphone XR */
  @media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) {
      .navbar-links {
        display: none;
        flex-direction: column;
        background-color: #564242;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 20px 0;
      }
    
      .navbar-links.active {
        display: flex;
      }
    
      .navbar-toggle {
        display: block;
      }
    }
    .dropdown {
      position: relative;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #070707;
      min-width: 160px;
      z-index: 1;
    }
    
    .dropdown-content a {
      color: #2b2828;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
    .navbar-logo {
      position: relative;
    }
    
    .navbar-logo .dropdown-content {
      display: none;
      position: absolute;
      background-color: #444;
      min-width: 160px;
      z-index: 1;
      top: 100%;
      left: 0;
    }
    
    .navbar-logo.active .dropdown-content {
      display: block;
    }
    
    .navbar-logo a {
      color: #fff;
      text-decoration: none;
    }
    
    .navbar-logo:hover .dropdown-content {
      display: block;
    }
     
  @media screen and (max-width: 899px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      background-color: #564242;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 20px 0;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #070707;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #2b2828;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar-logo {
    position: relative;
  }
  
  .navbar-logo .dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 0;
  }
  
  .navbar-logo.active .dropdown-content {
    display: block;
  }
  
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-logo:hover .dropdown-content {
    display: block;
  }