body {
  margin: 12px;
  /* padding-top: 1rem; */
  background-color:  #F7F7F7; 
  color: #040404 !important;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: arvo !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-items{
  display:flex;
  justify-content: space-between;
}
.products-items{
  display:flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis:200;
}
.item-show-cont{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.imag{
  width:400px !important;
}
.item-inner-cont{
  width:400px;
  height:auto;
  border:3px solid;
  border-radius: 12px;
  padding: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/* .order{
  display:flex;
  flex-direction: start;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ahead-items{

  display: flex !important;
  justify-content: space-between !important;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.h1{
  font-family: arvo;
}
.btn{
  width:21rem;
  border-radius: 9rem;
  font-family: arvo;

 
}
.btn:hover{
  background-color: #d8dfe3;
  
  /* -webkit-transition: width 8s; */

}
.item-btn{
  width:400px;
  height:70px;
  border-radius:12px;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  -ms-border-radius:12px;
  -o-border-radius:12px;
}
.ahead-item-container{
 width:500px;
 height:550px;
 padding:20px;
 background-color:#d9dde0;
 border:2px solid white;
 border-radius:12px;
margin-left:181px;

 
 -webkit-border-radius:12px;
 -moz-border-radius:12px;
 -ms-border-radius:12px;
 -o-border-radius:12px;
}

.ahead-item-container img{
  /* max-width: 100%;
  height: auto; */
  
 

}
.image_item{
  width:500px !important;
  height: 400px  !important;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.trending-container{
 display: flex;
 flex-grow: 4;
 flex-direction: row-reverse;
 justify-content: space-around;
}
.Trend{
  display: flex !important;
  padding: 3rem;
  row-gap: 1rem;
  justify-content: space-between !important;
  margin: 10px;
}
.trending-content{
  width:400px;
  height:400px;
  border-radius: 12px;
  border: 3px solid black;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.trending-image{
  width:400px;
  height:400px;
}
.w-img{
  width: 180px !important;
  height: 180px !important;
  object-fit: cover; 
}
.w-img-2 {
  width: 180px !important;
  height: 180px !important;
  object-fit: cover;
}
.w-img-4{
  width: 180px !important;
  height: 180px !important;
  object-fit: cover;
  margin-top: -0.2rem;
}
.h-4{
  margin-top: -1.4rem;
  color:rgb(7, 6, 6);
  font-family: arvo !important;
}
a:hover{
  text-decoration: none;
  color: #4caf50;
}

.h-4:hover{
  color:red;
}
.w-container{
  padding:13px;
  display: space-between !important;
}
.w-d-1{
 width: 180px;
 height:180px;
 border: 2px solid transparent;
 /* border-radius: 2rem; */
 /*background-color: #a09494;
 */
 
}
.w-d-2{
  width: 180px;
 height:180px;
 float: right;
 border: 2px solid transparent;
 padding-top:10px;
 justify-content: space-around;
 /* background-color: #712626; */
 margin-top: 0.4rem;
  
}
.w-d-3{
  width: 180px;
 height:180px;
 border: 2px solid transparent;
 /* background-color: #a09494; */
 margin-top: 1.5rem;
}
.w-d-4{
  width: 180px;
 height:180px;
 border: 2px solid transparent;
 margin-top: -24rem;
 margin-left: 12rem;
}
.deal{
  width:150px;
  height:40px;
  border:3px solid transparent;
  margin-top: 20px;
  padding: 12px 12;
  border-radius:8px;
  background-color: red;
  color:rgb(248, 245, 245);
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -ms-border-radius:8px;
  -o-border-radius:8px;
}
.Slide{
  min-width: 485px !important;
  height: 500px !important;
  padding: 12px;
  object-fit: cover !important;
  justify-content: space-between;
  border:3px solid transparent;
  border-radius: 2rem !important;
  -webkit-border-radius: 2rem !important;
  -moz-border-radius: 2rem !important;
  -ms-border-radius: 2rem !important;
  -o-border-radius: 2rem !important;
}
.container{
  display: flex !important;
  padding: 3rem;
  row-gap: 1rem;
  justify-content: space-between;
}
.content-1{
  width:500px;
  height:520px;
  border: 3px solid #ced3d6;
  padding:12px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.content-2{
  width:500px;
  height:520px;
  border: 3px solid #ced3d6;
  padding:12px;
  border-radius: 12px;

}
.content-3{
  width:500px;
  height:520px;
  border: 3px solid #ced3d6;
  padding:12px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.second-container{
  display: flex !important;
  padding: 3rem;
  row-gap: 1rem;
  justify-content: space-between !important;
}
.sub-cont{
  width:500px;
  height:500px;
  border: 3px solid #ced3d6;
  padding:12px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.sub-cont-2{
  width:500px;
  height:500px;
  border: 3px solid #ced3d6;
  padding:12px;
  border-radius: 12px;
 

}
.sub-cont-3{
  width:500px;
  height:500px;
  border: 3px solid #ced3d6;
  padding:12px;
  border-radius: 12px;
  font-family: arvo !important;
  

}
.scroller{
  display: flex;
  justify-content: space-between !important;
}
.new-content{
  max-width: 100rem;
  border:3px solid burlywood;
  height:20rem;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding:10rem;
}
.middle-content{
padding: 10rem;
display: flex;
justify-content: space-around;
}
.mid-cont{
  width: 600px;
  height:700px;
  border:4px solid black;
  box-shadow: #3b813b;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  /* background-image: url("https://helbiz.com/_nuxt/img/bike.df4334b.png"); */
}
.mid-cont2{
  width: 600px;
  height:700px;
  border:4px solid black;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  /* background-image: url("https://helbiz.com/_nuxt/img/go-go-ro.dd83c75.png"); */
}

.semi-cont{
  display: flex !important;
  padding:3rem;
  justify-content: space-between;
}
.semi-1{
  width:350px;
  height:300px;
  border:2px solid black !important;
  /* background-color: #f44336; */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.semi1-img{
  width:350px;
  height:300px;
  object-fit: fit;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.semi-2{
  width:350px;
  height:300px;
  border:2px solid black !important;
  background-color: #108760;
  border-radius: 10px;
}
.semi-3{
  width:350px;
  height:300px;
  border:2px solid black !important;
  background-color: #475907;
  border-radius: 10px;
}
.semi-4{
  width:350px;
  height:300px;
  border:2px solid black !important;
  background-color: #72460a;
  border-radius: 10px;
}
.faq{
  display: inline-block;
}
.faq1{
  width: 700px;
  height: 250px;
  border: 3px solid black;
  padding: 4rem;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.imag {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.payment-slip {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.payment-success {
  color: #4caf50;
}

.payment-failure {
  color: #f44336;
}

.payment-details {
  margin-top: 10px;
}

.order-history {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}


/* Styling for the footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 16px;

}
.pfp-image{
  width:"200px" ;
  height:"200px";
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  margin: 5px 0;
}
.main-content{
  display: flex;
  border: 2px solid #ccc;
  width: 600px;
  justify-content: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.main-content-text{
  display: inline-block;
  border:3px solid black;
  display: flexbox;
  width:450px;
  float: right;
}


.cart {
  background-color: #030303;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 8px 7px rgba(222, 219, 219, 0.1);
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  margin-bottom: 10px;
}

.cart button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.second-main-content{
  display: flex;
  border: 2px solid #ccc;
  width: 500px;
  float: right;
  display: grid;
  justify-content: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}



/* Extra small devices (portrait phones) */





    @media only screen 
    and (width: 375px) 
    and (height: 667px) 
    and (-webkit-device-pixel-ratio: 2) { 
 .slider{
  width: 600px;
  height: 500px;

  .item-btn{
    width:70px;
    height:70px;
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
  }
}
.video{
  width:450px !important;
  height:300px !important;
}
.container{
  display: inline-block;
}
.main-content-text{
  display: inline-block;
  border:3px solid;
  display: flexbox;
  
  /* width:50px; */
  height: fit-content;
  border-radius: 13px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(98, 10, 10);
}


.main-content-text{
  display: inline-block;
  border:3px solid;
  display: flexbox;
  width:150px;
  border-radius: 13px;

  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}



#box
{
  position: relative;
  width: 200px;
  height: 200px;
  display: inline-block;
  transform-style: preserve-3d;
  animation: animate 10s linear infinite;
}

@keyframes animate
{
  0%
  {
      transform: rotateX(-30deg) rotateY(360deg);
  }
  100%
  {
      transform: rotateX(-30deg) rotateY(0);
  }
}

#box::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.1);
  transform: rotateX(90deg) translateZ(-220px);
  filter: blur(25px);           
}

#box div
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

#box div span
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box div span:nth-child(1)
{
  transform: rotateY(0) translate3d(0,0,150px);
  background: #d8aa77;
}
#box div span:nth-child(1)::before
{
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: url(https://images.pexels.com/photos/17855845/pexels-photo-17855845/free-photo-of-a-man-standing-in-the-ruins-of-a-castle.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

#box div span:nth-child(2)
{
  transform: rotateY(90deg) translate3d(0,0,150px);
  background: #ca9864;
}
#box div span:nth-child(3)
{
  transform: rotateY(180deg) translate3d(0,0, 150px);
  background: #d8aa77;
}
#box div span:nth-child(3)::before
{
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: url(https://images.pexels.com/photos/17927911/pexels-photo-17927911/free-photo-of-man-sitting-on-chair-and-posing.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
#box div span:nth-child(4)
{
  transform: rotateY(270deg) translate3d(0,0, 150px);
  background: #ca9864;
}
#box .top
{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #e8bb84;
  display: flex;
  align-items: center;
  transform: rotateX(90deg) translate3d(0,0,150px);
}
#box .top::before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 60px;
  background: #111 url(https://lh4.googleusercontent.com/EqxRh5t4jhe2n-nC0oAA1QJBYVvWNr6Uziyt9k_MfF993EATOcg5xsHRyF4rvWhS_fJZPGBMObp6AyO5fWTN=w1214-h920);
  background-size: 85px;
}
.tape
{
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  width: 120px;
  height: 60px;
  background: #111 url(https://lh4.googleusercontent.com/EqxRh5t4jhe2n-nC0oAA1QJBYVvWNr6Uziyt9k_MfF993EATOcg5xsHRyF4rvWhS_fJZPGBMObp6AyO5fWTN=w1214-h920);
  background-size: 85px;
  background-position-x: 45px;
}
span:nth-child(4) .tape
{
  transform: translateX(-50%) rotate(270deg);
  background-position-x: 30px;
}






.content{
  display: flex;
  padding:20px;
  border-radius: 12px;
  justify-content: center;
  justify-content: space-between !important;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.content-img{
  justify-content: space-between !important;
  background-color: #e9eee9;
  align-content: space-between !important;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.main-content{
  display: flex;
  border: 2px solid #ccc;
  width: 370px;
  justify-content: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.second-main-content{
  display: flex;
  border: 2px solid #ccc;
  width: 370px;
  float: right;
  display: grid;
  justify-content: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

    }

    @media only screen 
    and (max-width: 2560px) 
    and (max-height: 1600px) 
    and (-webkit-device-pixel-ratio: 3) { 
      .slider{
        width: 600px;
        height: 350px;
       }
       .Slide{
        width: 600px !important;
        height: 500px !important;
        padding: 12px;
        justify-content: space-between;
        border:3px solid transparent;
        border-radius: 6rem !important;
        -webkit-border-radius: 6rem !important;
        -moz-border-radius: 6rem !important;
        -ms-border-radius: 6rem !important;
        -o-border-radius: 6rem !important;
      }
       .container{
        display: grid !important;
        padding: 7rem;
        row-gap: 1rem;
        justify-content: space-between !important;
        margin: 10px;
      }
      .content-1{
        width:200px;
        height:220px;
        border: 3px solid black;
        padding:3rem;
        justify-content: space-between;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
      }
      .trend{
        font-size: large;
      }
      .content-2{
        width:300px;
        height:320px;
        border: 3px solid black;
        padding:3rem;
        border-radius: 12px;
      
      }
      .content-3{
        width:300px;
        height:320px;
        border: 3px solid black;
        padding:3rem;
        border-radius: 12px;
      
      }
    
      .second-container{
        display: grid !important;
        padding: 3rem;
        row-gap: 1rem;
        justify-content: space-between !important;
      }
      .sub-cont{
        width:300px;
        height:300px;
        border: 3px solid black;
        padding:6rem;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
      }
      .sub-cont-2{
        width:300px;
        height:300px;
        border: 3px solid black;
        padding:3rem;
        border-radius: 12px;
        background-color: #3b813b;
      
      }
      .sub-cont-3{
        width:300px;
        height:300px;
        border: 3px solid black;
        padding:3rem;
        border-radius: 12px;
      }    

    }
/* For iPhone XR, and iPhone 11: */
    @media only screen 
    and (width: 414px) 
    and (height: 896px) 
     { 
      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: #101010; */
        background-color: #535151;
        padding: 10px 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        transition: background-color 0.3s ease-in-out;
      }
     .books{
      display: inline;
     }
.item-btn{
  width:70px;
  height:70px;
  border-radius:12px;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  -ms-border-radius:12px;
  -o-border-radius:12px;
}
.Trend{
  display: flex !important;
  /* padding: 3rem; */
  /* row-gap: 1rem; */
  justify-content: space-between !important;
  /* margin: 10px; */
}
.Slide{
  width: 400px !important;
  height: 300px !important;
  padding: 12px;
  border:3px solid transparent;
  /* border-radius: 6rem !important; */
 
}
.container{
  display: grid !important;
  padding: 3rem;
  row-gap: 1rem;
  justify-content: space-between;
  margin: 10px;
}
.content-1{
  width:300px;
  height:320px;
  border: 3px solid black;
  padding: 13rem;
  border-radius: 12px;
  
}
.trend{
  font-size: large;
}
.content-2{
  width:300px;
  height:320px;
  border: 3px solid black;
  padding:3rem;
  border-radius: 12px;

}
.content-3{
  width:300px;
  height:300px;
  border: 3px solid black;
  padding:3rem;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.ahead-items{
 
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}
.ahead-item-container{
  width:300px;
  height:480px;
  background-color:white;
  border:2px solid;
  border-radius:12px;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  -ms-border-radius:12px;
  -o-border-radius:12px;
 }
 .ahead-item-container img{
   max-width: 100%;
   height: auto;
 
 }

.second-container{
  display: grid !important;
  padding: 3rem;
  row-gap: 1rem;
  justify-content: space-between !important;
}
.sub-cont{
  width:300px;
  height:300px;
  border: 3px solid black;
  padding:6rem;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.sub-cont-2{
  width:300px;
  height:300px;
  border: 3px solid black;
  padding:3rem;
  border-radius: 12px;
  background-color: #3b813b;

}
.sub-cont-3{
  width:300px;
  height:300px;
  border: 3px solid black;
  padding:3rem;
  border-radius: 12px;
}
.new-content{
  width: 100%;
  border:3px solid burlywood;
  height:20rem;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding:10rem;
}
.middle-content{
padding: 10rem;
display: flex;
justify-content: space-between;
order: 5;
}
.mid-cont{
  width: 400px;
  height:300px;
  border:4px solid black;
  box-shadow: #3b813b;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  
}
.mid-cont2{
  width: 400px;
  height:300px;
  border:4px solid black;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
 
}

.semi-cont{
  display: grid !important;
  padding:3rem;
  justify-content: space-between;
}
.semi-1{
  width:350px;
  height:200px;
  border:2px solid black !important;
  background-color: #d8e1d9;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.semi-2{
  width:350px;
  height:200px;
  border:2px solid black !important;
  background-color: #108760;
  border-radius: 10px;
}
.semi-3{
  width:350px;
  height:200px;
  border:2px solid black !important;
  background-color: #475907;
  border-radius: 10px;
}
.semi-4{
  width:350px;
  height:200px;
  border:2px solid black !important;
  background-color: #72460a;
  border-radius: 10px;
}
.faq{
  display: inline-block;
}
.faq1{
  width: 700px;
  height: 250px;
  border: 3px solid black;
  padding: 4rem;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

    }
/* Iphone 11 and XR media querie */
@media (width: 414px) and (height: 896px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #101010; */
    /* background-color: #ad1e1e; */
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
  }
  .menu-toggle {
    display: none;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .sub-cont-2{
    display: inline-block;
    padding:12px;
  }
  .w-container{
    width:300px;
    height:300px;
  }
  .w-d-1{
    width:90px;
    height:20px;
    margin-top: -20px;
  }
  .w-d-2{
    width:90px;
    height:20px;
  }
  .w-d-3{
    width:90px;
    height:20px;
  }
  .w-d-4{
    width:90px;
    height:20px;
  }
  .w-img{
    object-fit: cover;
    
  }
  .bar {
    width: 100%;
    height: 4px;
    background-color: #050404;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .logo {
    color: #151313;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .page{
    object-fit: cover;
  }
  .Trend{
    display: grid!important;
    padding: 3rem;
    row-gap: 1rem;
    justify-content: space-between !important;
    margin: 10px;
  }
  .Slide{
    width: 700px !important;
    height: 300px !important;
    padding: 12px;
    justify-content: space-between;
    border:2px solid transparent;
    border-radius: 2rem !important;
    -webkit-border-radius: 2rem !important;
    -moz-border-radius: 2rem !important;
    -ms-border-radius: 2rem !important;
    -o-border-radius: 2rem !important;
}
  .imag {
    border-radius:12px;
    width: 300px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
  }
  .slider{
    width: 400px;
    height: 300px;
   }
   .container{
    display: flexbox !important;
    padding: 3rem;
    row-gap: 1rem;
    justify-content: space-between;
  }
  .content-1{
    width:350px;
    height:420px;
    border: 3px solid rgb(181, 174, 174);
    padding:12px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
  .content-2{
    width:350px;
    height:380px;
    border: 3px solid rgb(209, 203, 203);
    padding:12px;
    border-radius: 12px;
    
}
  .content-3{
    width:350px;
    height:480px;
    border: 3px solid rgb(179, 173, 173);
    padding: 12px;
    border-radius: 12px;
  
  }
  .new-content{
    max-width: 100rem;
    border:3px solid burlywood;
    height:20rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding:10rem;
  }
  .middle-content{
  padding: 12px;
  display: flex;
  justify-content: space-around;
  }
  .mid-cont{
    width: 400px;
    height:700px;
    border:4px solid rgb(166, 159, 159);
    box-shadow: #8f9c8f;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    
  }
  .mid-cont2{
    width: 600px;
    height:700px;
    border:4px solid rgb(206, 200, 200);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  
  }
  
  .semi-cont{
    display: grid !important;
    padding:12px;
    /* row-gap: 3; */
    /* justify-content: space-between; */
  }
  .semi-1{
    width:350px;
    height:400px;

    border:2px solid rgb(182, 177, 177) !important;
    /* background-color: #f44336; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .semi-2{
    width:350px;
    height:400px;
    border:2px solid rgb(195, 186, 186) !important;
    /* background-color: #108760; */
    border-radius: 10px;
  }
  .semi-3{
    width:350px;
    height:200px;
    border:2px solid rgb(191, 186, 186) !important;
 
    border-radius: 10px;
  }
  .semi-4{
    width:350px;
    height:400px;
    border:2px solid rgb(165, 161, 161) !important;
    
    border-radius: 10px;
  }
  .bestSellers{
    display: hidden;
  }
 
  .faq{
    display: inline-block;
  }
  .faq1{
    width: 700px;
    height: 250px;
    border: 3px solid rgb(170, 165, 165);
    padding: 12px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }

  
}


@media (width: 375px) and (height: 667px) {
 
  .page{
    object-fit: cover;
  }
  *{
    background-color: #e2e4e6;
  }
  
  .Trend{
    display: grid!important;
    padding: 3rem;
    row-gap: 1rem;
    justify-content: space-between !important;
    margin: 10px;
  }
  .sub-cont-2{
    display: inline-block;
    padding:12px;
  }
  .w-container{
    width:300px;
    height:300px;
  }
  .w-d-1{
    width:90px;
    height:20px;
    margin-top: -20px;
  }
  .w-d-2{
    width:90px;
    height:20px;
  }
  .w-d-3{
    width:90px;
    height:20px;
  }
  .w-d-4{
    width:90px;
    height:20px;
  }
  .w-img{
    object-fit: cover;
    
  }
  .Slide{
    width: 450px !important;
    height: 300px !important;
    object-fit: cover !important;
    /* padding: 12px; */
    justify-content: space-between;
    object-fit: cover !important;
    border:3px solid transparent;
    border-radius: 2rem !important;
    -webkit-border-radius: 2rem !important;
    -moz-border-radius: 2rem !important;
    -ms-border-radius: 2rem !important;
    -o-border-radius: 2rem !important;
}
  .imag {
    border-radius:12px;
    width: 300px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
  }
  .slider{
    width: 500px;
    height: 400px;
   }
  

  .w-d-1{
    width:80px;
    height:50px !important; 
    
    object-fit: cover;
  }
  .w-img{
    width:80px;
    height:50px;
  }

  .w-d-2{
    width:80px;
    height:60px !important; 
  
    object-fit: cover;
    
  }
  .w-img-2{
    width:80px;
    height:80px !important; 
  
    object-fit: cover;
   
  }
  .w-d-3{
    width:80px;
    height:80px !important; 
  
    object-fit: cover;
  }
 
  .w-img-3{
    width:80px;
    height:80px;
  }

  .w-d-4{
    width:80px;
    height:50px !important; 
  
    object-fit: cover;
    margin-top: -60px;
  }
  .w-img-4{
    width:80px;
    height:50px;
   
  }
  
  .ahead-items{
/*  
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
    
    
  }
  .ahead-item-container{
   width:300px;
   height: 580px;
   background-color:white;
   display: block;
   border:2px solid;
   border-radius:12px;
   -webkit-border-radius:12px;
   -moz-border-radius:12px;
   -ms-border-radius:12px;
   -o-border-radius:12px;
  }
  .ahead-item-container img{
    max-width: 100%;
    height: auto;
  
  }
 
  .image_item{
    width:400px !important;
    height: 400px  !important;
    /* object-fit: contain; */
  }
  
  
  .content-1{
    width:300px;
    height:370px;
    border: 3px solid rgb(172, 171, 171);
    padding:12px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
  .trend{
    font-size: large;
  }
  .content-2{
    width:300px;
    height:370px;
    border: 3px solid rgb(173, 170, 170);
    padding:12px;
    border-radius: 12px;
  
  }
  .content-3{
    width:300px;
    height:600px;
    border: 3px solid rgb(171, 170, 170);
    padding:12px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
  .img-cont-3{
  border-radius: 12px !important;
  width:300px;
  height:300px;
  object-fit: fit;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

  .second-container{
    display: grid !important;
    padding: 3rem;
    row-gap: 1rem;
    justify-content: space-between;
  }
  .sub-cont{
    width:300px;
    height:380px;
    border: 3px solid rgb(152, 146, 146);
    padding: 12px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
  .sub-cont-2{
    width:300px;
    height:340px;
    border: 3px solid rgb(186, 182, 182);
    padding: 12px;
    border-radius: 12px;
    /* background-color: #484256; */
  
  }
  .sub-cont-3{
    width:300px;
    height:340px;
    border: 3px solid rgb(167, 162, 162);
    padding:12px;
    border-radius: 12px;
  
  }
  .new-content{
    max-width: 100rem;
    border:3px solid rgb(182, 179, 174);
    height:20rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding:10rem;
  }
  .middle-content{
  padding: 10rem;
  display: flex;
  justify-content: space-around;
  }
  .mid-cont{
    width: 600px;
    height:700px;
    border:4px solid rgb(136, 132, 132);
    box-shadow: #3b813b;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
   
  }
  .mid-cont2{
    width: 600px;
    height:700px;
    border:4px solid black;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    
  }
  
  .semi-cont{
    display: flex !important;
    padding:3rem;
    justify-content: space-between;
  }
  .semi-1{
    width:350px;
    height:200px;
    border:2px solid black !important;
    background-color: #b8a7a6;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .semi-2{
    width:350px;
    height:200px;
    border:2px solid black !important;
    /* background-color: #108760; */
    border-radius: 10px;
  }
  .semi-3{
    width:350px;
    height:200px;
    border:2px solid rgb(181, 173, 173) !important;
    /* background-color: #475907; */
    border-radius: 10px;
  }
  .semi-4{
    width:350px;
    height:200px;
    border:2px solid rgb(157, 146, 146) !important;
    /* background-color: #72460a; */
    border-radius: 10px;
  }
  .faq{
    display: inline-block;
  }
  .faq1{
    width: 400px;
    height: 250px;
    border: 3px solid rgb(170, 165, 165);
    padding: 12px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }

}


@media (min-width: 768px) and (max-width: 991px) {
  
  .page{
    object-fit: cover;
  }
  .Slide{
    width: 500px !important;
    height: 400px !important;
    padding: 12px;
    justify-content: space-between;
    border:3px solid transparent;
    border-radius: 6rem !important;
    -webkit-border-radius: 6rem !important;
    -moz-border-radius: 6rem !important;
    -ms-border-radius: 6rem !important;
    -o-border-radius: 6rem !important;
  }
  .imag {
    border-radius:12px;
    width: 300px;
    object-fit: cover;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
  }
  .slider{
    width: 500px;
    height: 400px;
   }
   

  .container{
    display: inline-block;
  }
  .content-1{
    width:300px;
    height:300px;
    border: 3px solid black;
    padding:2rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
  .trend{
    font-size: large;
  }
  .content-2{
    width:300px;
    height:320px;
    border: 3px solid black;
    padding:3rem;
    border-radius: 12px;
  
  }
  .content-3{
    width:300px;
    height:300px;
    border: 3px solid black;
    padding:3rem;
    border-radius: 12px;
  
  }

  .second-container{
    display: grid !important;
    padding: 3rem;
    row-gap: 1rem;
    justify-content: space-between !important;
  }
  .sub-cont{
    width:300px;
    height:300px;
    border: 3px solid black;
    padding:6rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
  .sub-cont-2{
    width:300px;
    height:300px;
    border: 3px solid black;
    padding:3rem;
    border-radius: 12px;
    background-color: #3b813b;
  
  }
  .sub-cont-3{
    width:300px;
    height:300px;
    border: 3px solid black;
    padding:3rem;
    border-radius: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  
  .page{
    object-fit: cover;
  }
  .Slide{
    width: 1000px !important;
    height: 500px !important;
    padding: 12px;
    justify-content: space-between;
    border:3px solid transparent;
    border-radius: 6rem !important;
    -webkit-border-radius: 6rem !important;
    -moz-border-radius: 6rem !important;
    -ms-border-radius: 6rem !important;
    -o-border-radius: 6rem !important;
  }
  .imag {
    border-radius:12px;
    width: 350px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
  }
  .slider{
    width: 100%;
    height: 350px;
    padding:10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.container{
  display: inline-block;
}
.content{
  display: flex;
  padding:20px;
  border-radius: 12px;
  justify-content: center;
  justify-content: space-between !important;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.main-content{
  display: flex;
  border: 2px solid #ccc;
  width: 500px;
  justify-content: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
}
.img-cont{
  width:1200px !important;
}



@media (min-width: 1200px) {

  .page{
    object-fit: cover;
  }
  .img{
    width:1200px !important;
  }
  .imag {
    border-radius:12px;
    width: 300px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
  }
  .slider{
    width: 100%;
    height: 750px;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.main-content{
  display: flex;
  border: 2px solid #ccc;
  width: 800px;
  height: 550px;
  display: grid;
  justify-content: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.container{
  display: inline-block;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:rgb(3, 3, 3) !important;

}


@media (min-width: 768px) and (max-width: 979px) {
  .page{
    object-fit: cover;
  }
  .Slide{
    width: 1000px !important;
    height: 400px !important;
    padding: 12px;
    justify-content: space-between;
    border:3px solid transparent;
    border-radius: 6rem !important;
    -webkit-border-radius: 6rem !important;
    -moz-border-radius: 6rem !important;
    -ms-border-radius: 6rem !important;
    -o-border-radius: 6rem !important;
  }
  .imag {
    border-radius:12px;
    width: 300px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
  }
  .slider{
    width: 500px;
    height: 400px;
   }
   .container{
    display: grid !important;
    padding: 3rem;
    row-gap: 1rem;
    justify-content: space-between;
    margin: 10px;
  }
  .content-1{
    width:300px;
    height:300px;
    border: 3px solid black;
    padding:2rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
  .trend{
    font-size: large;
  }
  .content-2{
    width:300px;
    height:320px;
    border: 3px solid black;
    padding:3rem;
    border-radius: 12px;
  
  }
  .content-3{
    width:300px;
    height:300px;
    border: 3px solid black;
    padding:3rem;
    border-radius: 12px;
  
  }

  .second-container{
    display: grid !important;
    padding: 3rem;
    row-gap: 1rem;
    justify-content: space-between !important;
  }
  .sub-cont{
    width:300px;
    height:300px;
    border: 3px solid black;
    padding:6rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }
  .sub-cont-2{
    width:300px;
    height:300px;
    border: 3px solid black;
    padding:3rem;
    border-radius: 12px;
    background-color: #3b813b;
  
  }
  .sub-cont-3{
    width:300px;
    height:300px;
    border: 3px solid black;
    padding:3rem;
    border-radius: 12px;
  }
}


#box
{
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation: animate 10s linear infinite;
}

@keyframes animate
{
  0%
  {
      transform: rotateX(-30deg) rotateY(360deg);
  }
  100%
  {
      transform: rotateX(-30deg) rotateY(0);
  }
}

#box::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.1);
  transform: rotateX(90deg) translateZ(-220px);
  filter: blur(25px);           
}

#box div
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

#box div span
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box div span:nth-child(1)
{
  transform: rotateY(0) translate3d(0,0,150px);
  background: #d8aa77;
}
#box div span:nth-child(1)::before
{
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: url(https://images.pexels.com/photos/17927911/pexels-photo-17927911/free-photo-of-man-sitting-on-chair-and-posing.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

#box div span:nth-child(2)
{
  transform: rotateY(90deg) translate3d(0,0,150px);
  background: #ca9864;
}
#box div span:nth-child(3)
{
  transform: rotateY(180deg) translate3d(0,0, 150px);
  background: #d8aa77;
}
#box div span:nth-child(3)::before
{
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: url(https://images.pexels.com/photos/17855845/pexels-photo-17855845/free-photo-of-a-man-standing-in-the-ruins-of-a-castle.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
#box div span:nth-child(4)
{
  transform: rotateY(270deg) translate3d(0,0, 150px);
  background: #ca9864;
}
#box .top
{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #e8bb84;
  display: flex;
  align-items: center;
  transform: rotateX(90deg) translate3d(0,0,150px);
}
#box .top::before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 60px;
  background: #111 url(https://lh4.googleusercontent.com/EqxRh5t4jhe2n-nC0oAA1QJBYVvWNr6Uziyt9k_MfF993EATOcg5xsHRyF4rvWhS_fJZPGBMObp6AyO5fWTN=w1214-h920);
  background-size: 85px;
}
.tape
{
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  width: 120px;
  height: 60px;
  background: #111 url(https://lh4.googleusercontent.com/EqxRh5t4jhe2n-nC0oAA1QJBYVvWNr6Uziyt9k_MfF993EATOcg5xsHRyF4rvWhS_fJZPGBMObp6AyO5fWTN=w1214-h920);
  background-size: 85px;
  background-position-x: 45px;
}
span:nth-child(4) .tape
{
  transform: translateX(-50%) rotate(270deg);
  background-position-x: 30px;
}

}
.content{
  display: flex;
  padding:20px;
  justify-content: center;
  justify-content: space-between;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.second-main-content{
  display: flex;
  border: 2px solid #ccc;
  width: 600px;
  margin-top: 50px;
  height: 450px;
  float: right;
  display: grid;
  justify-content: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.main-content-text{
  display: inline-block;
  border:3px solid;
  display: flexbox;
  width:450px;
  height: fit-content;
  border-radius: 13px;
  /*float: right;
  */
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}



#box
{
  position: relative;
  width: 300px;
  display: inline-block;
  height: 300px;
  transform-style: preserve-3d;
  animation: animate 10s linear infinite;
}
.mens{
  display:flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Navigation styles */
.navigation {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.navigation ul {
  list-style: none;
  display: flex;
  color: white;
  justify-content: center;
}

.navigation li {
  margin-right: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: white !important;
  text-decoration: none;
}

.navigation li:last-child {
  margin-right: 0;
  color: white !important;
}
.gallery-art{
  text-align: center !important;
}
.a{
  text-decoration: none;
}
/* Gallery styles */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.art-piece {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.art-piece img {
  max-width: 100%;
  height: auto;
}

.art-piece h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.art-piece p {
  font-size: 1rem;
  color: #777;
}
.art{
  width:400px !important;
  height: 400px  !important;
}
/* Add more custom styles as needed */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  margin: 0 0 20px 0;
}
.input-container {
  margin: 10px 0;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 3px;
}
.container {
  background-color: #0e0d0d;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  text-align: center;
  justify-content: center;
}
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;